.tabs {
  $root: &;
  &--content {
    position: initial;

    display: block;
    font-size: 1rem;
    #{$root}__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin: 0;
      padding: 0;

      list-style-type: none;
      #{$root}__item {
        font-size: 1em;
        margin: 3px 2px 2px 2px;
        padding: 10px;
      }
      #{$root}__button {
        border: 2px solid hsl(var(--hue-p180), var(--saturation), calc(var(--luminance-base-content-nav) + 10%));
        border-radius: 5px;
        background-color: transparent;
        color: var(--body-text-color);
        cursor: pointer;
        &:hover {
          background-color: hsl(var(--hue-p180), var(--saturation), calc(var(--luminance-base-content-nav) + 20%));
          color: var(--body-bg-color);
        }
        &--active {
          background-color: hsl(var(--hue-p180), var(--saturation), calc(var(--luminance-base-content-nav) + 10%));
          color: var(--body-bg-color);
        }
      }
      #{$root}__decorate {
        color: var(--body-text-color);
      }
    }
  }
}
