.cards-project {
  $root: &;
  display: none;
  font-size: 1rem;
  &--active {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    display: block;
    width: min(280px, 100%);

    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    margin: 4px;
    flex: 1 1 auto;

    border: 1px dotted var(--body-text-color);

    page-break-inside: avoid;
    break-inside: avoid;
    &:before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: var(--body-bg-color);
      filter: invert(10%);
      z-index: -1;
    }
    &--inactive {
      & > *:not(.center){
        opacity: 0.5;
      }
      & > h1 {
        padding-top: 1em;
      }
    }
    #{$root}__footer {
      position: absolute;
      right: 0; bottom: 0;
      text-align: center;

      margin: 0;
      padding: 2px;

      background: none;
      color: var(--body-bg-color);
      font-size: 0.8em;
    }
    #{$root}__header {
      margin: 0;
      padding: 0.33em 0;
      text-align: center;
    }
    #{$root}__img {
      display: block;
      margin: 0 auto;
      width: 320px;
      height: 180px;
      max-width: 100%;
      background: gray;
    }
  }
}
