.content {
  position: absolute;

  font-size: 1rem;
  padding: 0 10px;
  width: calc(100% - var(--sidebar-width));

  background-color: hsla(var(--body-bg-hsl), 0.7);
  overflow-y: auto;
  z-index: 1;
  li::marker {
    color: var(--li-marker-color);
  }
  h1 {
    font-size: 1.563rem;
    color: var(--header-text-color);
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    color: var(--header-text-color);
  }
  &--inside-water {
    top: 220px;
    color: var(--body-text-color-underwater);
    height: calc(100% - 230px);
    background-color: unset;
    padding-top: 0;
    li::marker {
      color: var(--text-strong-color-underwater);
    }
    a {
      font-weight: bold;
      color: var(--body-text-color-underwater);
      &:after {
        background-color: var(--text-strong-color-underwater);
      }
      &:hover {
        color: var(--body-text-color-underwater);
        &:after {
          width: 25%;
        }
      }
    }
    h1 {
      color: var(--text-strong-color-underwater);
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      &:first-child {
        margin-top: 0;
      }
    }
    strong {
      color: var(--text-strong-color-underwater);
    }
  }
  &--outside-water {
    top: calc(var(--nav-tube-height) + 20px);
    max-height: calc(100% - var(--nav-tube-height) - 130px);
  }
}
