.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100%;

  backdrop-filter: blur(4px);
  color: #bbb;
  font-size: 2.441rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index: 9;
}
