.notfound {
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;

  font-size: 2.441rem;
  padding: 20px;
  height: 100vh;
  width: 100vw;

  font-weight: bold;

  color: var(--body-bg-color);
  text-shadow: -1px 1px var(--body-text-color), 1px 1px var(--body-text-color), 1px -1px var(--body-text-color),
    -2px -2px var(--body-text-color);
  &--content {
    position: unset;
    height: unset;
    width: unset;
  }
  & > div > a {
    color: inherit;
    &:hover {
      color: var(--link-text-color);
    }
  }
}
