.notfound {
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;

  font-size: 2.441rem;
  padding: 20px;
  height: 100vh;
  width: 100vw;

  color: var(--tube-water-color);
  text-shadow: -1px 0 var(--tube-stroke-color), 0 1px var(--tube-stroke-color), 1px 0 var(--tube-stroke-color),
    0 -1px var(--tube-stroke-color);
  &--content {
    position: unset;
    height: unset;
    width: unset;
  }
}
