.valve {
  position: relative;
  display: inline-block;

  height: 100%;
  width: auto;
  &-border {
    height: 100%;
    width: 100%;
    &__path {
      stroke: var(--tube-stroke-color);
    }
    &__rect {
      fill: var(--tube-stroke-color);
    }
  }
  &-mask {
    position: absolute;
    left: 0;

    height: 100%;
    width: 100%;
    fill: var(--body-bg-color);
  }
}
