.flex {
  $root: &;

  display: flex;
  &--sidebar-wave {
    justify-content: space-between;
    width: 100%;
    #{$root}__item {
      width: 100%;
      & > * {
        width: 100%;
      }
    }
  }
  &--sidebar-time {
    justify-content: space-between;
    width: 100%;
    #{$root}__item {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
